RewriteEngine On
RewriteBase   /

# Point default locations to the wiki's front page:
RewriteRule ^wiki/?$  /cgi-sys/cgiwrap/scons/moin.cgi
RewriteRule ^wiki/index\.html$  /cgi-sys/cgiwrap/scons/moin.cgi

# This rewrites /wiki/FooPage to /cgi-sys/.../FooPage.
# Works because this .htaccess file is in /wiki, so filenames
# passed into us here are relative to that dir.
# The name passed in here just looks like "FooPage".
# Local wiki mod: static wiki content is in /wikidata so this
# URL rewriting will work.
RewriteRule  ^wiki/(.*)$   /cgi-sys/cgiwrap/scons/moin.cgi/$1

